<div id="left_panel_login" class="col col-md-7 pull-l full-height hidden-xs-down hidden-sm-down bg-carrier-login">
	<div class="row justify-content-center align-items-center full-height">
		<div class="col-10">
			<h3 class="title-1 color-white title-info-left">{{ 'forgot_password:left_side:title' | translate }}</h3>
			<p class="large-title color-white subtitle-info-left">{{ 'forgot_password:left_side:title:foot' | translate }}</p>
			<div class="row justify-content-center content-items-left">
				<div class="col-3 text-center">
					<img src="assets/images/login/instapay-white.png" class="block center item-img-left" border="0">
					<p class="small-text color-white text-center">{{ 'forgot_password:left_side:icons:instapay' | translate }}</p>
				</div>
				<div class="col-3">
					<img src="assets/images/login/planner-white.png" class="block center item-img-left" border="0">
					<p class="small-text color-white text-center">{{ 'forgot_password:left_side:icons:route_planner' | translate }}</p>
				</div>
				<div class="col-3">
					<img src="assets/images/login/truck-white.png" class="block center item-img-left" border="0">
					<p class="small-text color-white text-center">{{ 'forgot_password:left_side:icons:truck_posting' | translate }}</p>
				</div>
				<div class="col-3">
					<img src="assets/images/login/alert-white.png" class="block center item-img-left" border="0">
					<p class="small-text color-white text-center">{{ 'forgot_password:left_side:icons:loads_alerts' | translate }}</p>
				</div>
			</div>
			<div class="full-width text-center">
				<a href="" class="btn btn-class1 bg-color-2 color-white">{{ 'forgot_password:left_side:btn:create_an_account' | translate }}</a>
			</div>
		</div>
	</div>
</div>
<div id="right_panel_login" class="col col-md-5 pull-l full-height">
	<div class="row justify-content-center align-items-center full-height">
		<div class="col-9">
			<div class="full-width text-center content-logo-login">
				<img src="assets/images/common/logo.png">
			</div>
			<div id="buttons-panel" class="full-width text-left">
				<a ui-sref="public.login" ui-sref-opts="{ reload: true }">
					<img src="assets/images/common/back.png" class="img-fluid">
				</a>
			</div>
			<p class="title-login large-title bold">{{ 'forgot_password:right_side:title' | translate }}</p>
			<p class="subtitle-login small-text">{{ 'forgot_password:right_side:subtitle' | translate }}</p>
			<form method="post" id=forgotPasswordFormId name="forgotPasswordFormName" ng-submit="forgotpassword.sendRequest(forgotPasswordFormName)" novalidate>
				<div class="form-group">
					<label class="bold uppercase-text">{{ 'forgot_password:right_side:fields:email' | translate }}</label>
					<input type="email" name="email" ng-model="forgotpassword.data.email" class="form-control" placeholder='{{ "forgot_password:right_side:fields:email:placeholder" | translate }}' required autofocus>
				</div>
				<div class="form-group text-right">
					<button class="btn btn-class1 bg-color-1 color-white">{{ 'forgot_password:right_side:btn:recovery' | translate }}</button>
				</div>
				<div class="form-group text-right">
					<span class="small-text">{{ 'forgot_password:right_side:msg:sign_up' | translate }} </span>
					<a ui-sref="public.signup" ui-sref-opts="{ reload: true }" class="small-text normal-link color-saint-juan">{{ 'forgot_password:right_side:link:sign_up' | translate }}</a>
				</div>
			</form>
		</div>
	</div>
</div>