<div id="page-section-loads" class="page-section col">
	<total-items></total-items>
	<div class="col content-load-list bg-color-white">
		<h3 class="large-title title-section">{{ 'loads:section:title' | translate }}</h3>
		<div class="row">
			<div class="col text-right botonera-list">
				<a permission permission-only="'GENERADOR_CARGA'" ui-sref="private.loads.add" ui-sref-opts="{ reload: true }" class="btn btn-class1 bg-color-1 color-white">{{ 'loads:new_load:btn' | translate }}</a>
			</div>
		</div>
		<div class="row">
			<ul permission permission-only="'GENERADOR_CARGA'" class="nav nav-tabs nav-tabs-full-w" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="tab" ng-click="truckloads.changeCategory('my_loads')" role="tab">{{ 'loads:list:my_loads:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('assigned')" role="tab">{{ 'loads:list:assigned:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('not_assigned')" role="tab">{{ 'loads:list:not_assigned:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('pending')" role="tab">{{ 'loads:list:pending:title' | translate }}</a>
			  </li>
			</ul>
			<ul permission permission-only="['CARRIER', 'OWNER']" class="nav nav-tabs nav-tabs-full-w" role="tablist">
			  <li class="nav-item">
			    <a ng-class="{active: truckloads.loadsOptions.search_type == 'all' }" class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('all')" role="tab">{{ 'loads:list:all:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('current')" role="tab">{{ 'loads:list:current:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('not_assigned')" role="tab">{{ 'loads:list:suggest:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a ng-class="{active: truckloads.loadsOptions.search_type == 'my_search' }" class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('my_search')" role="tab">{{ 'loads:list:my_search:title' | translate }}</a>
			  </li>
			</ul>
			<ul permission permission-only="['DRIVER','OWNER']" class="nav nav-tabs nav-tabs-full-w" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('current')" role="tab">{{ 'loads:list:current:title' | translate }}</a>
			  </li>
			  <li class="nav-item">
			    <a ng-class="{active: truckloads.loadsOptions.search_type == 'my_search' }" class="nav-link" data-toggle="tab" ng-click="truckloads.changeCategory('my_search')" role="tab">{{ 'loads:list:my_search:title' | translate }}</a>
			  </li>
			</ul>
		</div>
		<div class="tab-content tab-content-full-w">
		  <div class="tab-pane active" id="content_loads_tab" role="tabpanel">
		  	<div class="full-width content-tableData">
				<table datatable="" dt-options="truckloads.datatableOptions" dt-columns="truckloads.dtColumns" class="tableDataSort" width="100%" border="0">
					<thead>
			            <tr>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:status" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:origin" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:destination" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:pickup" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:delivery" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:distance" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:length" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:weight" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:size" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:price" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:ago" | translate}}</th>
			                <th permission permission-only="'GENERADOR_CARGA'">{{"loads:table:column:actions" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:profile_img" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:shipper" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:origin" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:destination" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:pickup" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:delivery" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:length" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:weight" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:size" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:price" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:ago" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:status" | translate}}</th>
			                <th permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">{{"loads:table:column:actions" | translate}}</th>
			            </tr>
			        </thead>
					<tbody permission permission-only="'GENERADOR_CARGA'">
						<tr ng-if="!truckloads.loadsList.length">
							<td colspan="13">
								<p class="text-center">{{ "loads:list:empty:text" | translate }}</p>
							</td>
						</tr>
						<tr ng-repeat-start="load in truckloads.loadsList">
							<td class="tags-row" colspan="13">
								<div class="tag_item bg-color-5 color-armadillo" ng-if="load.posteverywhere == '0'"><strong>{{ "loads:table:tag:premium:text" | translate }}</strong></div>
							</td>
						</tr>
						<tr>
							<td ng-bind-html = "load.status_btn"></td>
							<td>{{load.from}}</td>
							<td>{{load.to}}</td>
							<td>{{load.pickup_date_formatted}}</td>
							<td>{{load.delivery_date_formatted}}</td>
							<td>{{load.distance}}</td>
							<td>{{load.length_loads}}</td>
							<td>{{load.weight}}</td>
							<td>{{load.dimension}}</td>
							<td>${{load.price}}</td>
							<td am-time-ago="load.load_date"></td>
							<td>
								<i ng-if="!load.expanded" ng-click="truckloads.showDetailsUnique(load.load_id)" class="fa fa-angle-down show-load-details-btn"></i>
								<i ng-if="load.expanded" ng-click="truckloads.showDetailsUnique(load.load_id)" class="fa fa-angle-up show-load-details-btn"></i>
							</td>
						</tr>
						<tr class="detail-load-table" ng-repeat-end>
							<td ng-if="load.expanded" colspan="12" class="no-padding">
								<load-details-row load-id=load.load_id reload-parent="truckloads.reloadList()"></load-details-row>
							</td>
						</tr>
					</tbody>
					<tbody permission permission-only="['CARRIER', 'DRIVER', 'OWNER']">
						<tr ng-if="!truckloads.loadsList.length">
							<td colspan="13">
								<p class="text-center">{{ "loads:list:empty:text" | translate }}</p>
							</td>
						</tr>
						<tr ng-repeat-start="load in truckloads.loadsList">
							<td class="tags-row" colspan="13">
								<div class="tag_item bg-color-5 color-armadillo" ng-if="load.posteverywhere == '0'"><strong>{{ "loads:table:tag:premium:text" | translate }}</strong></div>
								<div class="tag_item bg-color-3 color-armadillo" ng-if="load.owner_request_carriers == '1' && load.status_loads == 'NOT_ASSIGNED'"><strong>{{ "loads:table:tag:applied:text" | translate }}</strong></div>
							</td>
						</tr>
						<tr>
							<td class="info-row">
								<img ng-if="load.img_shipper" ng-src="{{load.img_shipper}}" width="30" border="0">
							</td>
							<td class="info-row">{{load.full_name_shipper}}</td>
							<td class="info-row">{{load.from}}</td>
							<td class="info-row">{{load.to}}</td>
							<td class="info-row">{{load.pickup_date_formatted}}</td>
							<td class="info-row">{{load.delivery_date_formatted}}</td>
							<td class="info-row">{{load.length_loads}}</td>
							<td class="info-row">{{load.weight}}</td>
							<td class="info-row">{{load.dimension}}</td>
							<td class="info-row">${{load.price}}</td>
							<td class="info-row" am-time-ago="load.load_date"></td>
							<td class="info-row" ng-bind-html = "load.status_btn"></td>
							<td class="info-row">
								<i ng-click="truckloads.showDetailsUnique(load.load_id)" class="fa fa-angle-down show-load-details-btn"></i>
							</td>
						</tr>
						<tr class="detail-load-table" ng-repeat-end>
							<td ng-if="load.expanded" colspan="13" class="no-padding">
								<load-details-row load-id=load.load_id reload-parent="truckloads.reloadList()" posteverywhere=load.posteverywhere></load-details-row>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		  </div>
		</div>
	</div>
</div>