<div id="page-section-post-truck" class="page-section page-section-with-margin col bg-color-white">
	<h3 class="large-title title-section">{{ 'drivers:add:section:title' | translate }}</h3>
	<form method="post" id=postDriverFormId name="postDriverFormName" ng-submit="driversadd.save(postDriverFormName)" novalidate>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-4">
						<div class="pic-square" ngf-select ng-model="driversadd.dataNewDriver.pic" name="pic" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB">
							<img ng-show="postDriverFormName.pic.$valid" ngf-thumbnail="driversadd.dataNewDriver.pic" class="img-fluid">
						</div>
					</div>
					<div class="col-8">
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<label>{{ 'drivers:add:form:name:text' | translate }}</label>
									<span class="help-inline" ng-show="postDriverFormName.user_first_name.$error.required">*</span>
									<input type="text" name="user_first_name" class="form-control" ng-model="driversadd.dataNewDriver.user_first_name" placeholder='{{ "drivers:add:form:name:text" | translate }}' required>
								</div>
								<div class="col-6">
									<label>{{ 'drivers:add:form:lastname:text' | translate }}</label>
									<span class="help-inline" ng-show="postDriverFormName.lastname.$error.required">*</span>
									<input type="text" name="lastname" class="form-control" ng-model="driversadd.dataNewDriver.user_last_name" placeholder='{{ "drivers:add:form:lastname:text" | translate }}' required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<label>{{ 'drivers:add:form:phone:text' | translate }}</label>
									<span class="help-inline" ng-show="postDriverFormName.phone.$error.required">*</span>
									<input type="text" name="phone" class="form-control" ng-model="driversadd.dataNewDriver.user_phone" placeholder='{{ "drivers:add:form:phone:text" | translate }}' required>
								</div>
								<div class="col-6">
									<label>{{ 'drivers:add:form:email:text' | translate }}</label>
									<span class="help-inline" ng-show="postDriverFormName.email.$error.required">*</span>
									<input type="email" name="email" class="form-control" ng-model="driversadd.dataNewDriver.user_email" placeholder='{{ "drivers:add:form:email:text" | translate }}' required>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label>{{ 'drivers:add:form:password:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.password.$error.required">*</span>
							<input type="password" name="password" class="form-control" ng-model="driversadd.dataNewDriver.user_password" placeholder='{{ "drivers:add:form:password:text" | translate }}' required>
						</div>
						<div class="col-6">
							<label>{{ 'drivers:add:form:re_password:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.re_password.$error.required">*</span>
							<input type="password" name="re_password" class="form-control" ng-model="driversadd.dataNewDriver.user_confirmpassword" placeholder='{{ "drivers:add:form:re_password:text" | translate }}' required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label>{{ 'drivers:add:form:country:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.country.$error.required">*</span>
							<input type="text" name="country" class="form-control" ng-model="driversadd.dataNewDriver.user_contry" placeholder='{{ "drivers:add:form:country:text" | translate }}' required>
						</div>
						<div class="col-6">
							<label>{{ 'drivers:add:form:state:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.state.$error.required">*</span>
							<input type="text" name="state" class="form-control" ng-model="driversadd.dataNewDriver.user_state" placeholder='{{ "drivers:add:form:state:text" | translate }}' required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label>{{ 'drivers:add:form:city:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.city.$error.required">*</span>
							<input type="text" name="city" class="form-control" ng-model="driversadd.dataNewDriver.user_city" placeholder='{{ "drivers:add:form:city:text" | translate }}' required>
						</div>
						<div class="col-6">
							<label>{{ 'drivers:add:form:zipcode:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.zipcode.$error.required">*</span>
							<input type="text" name="zipcode" class="form-control" ng-model="driversadd.dataNewDriver.user_postalcode" placeholder='{{ "drivers:add:form:zipcode:text" | translate }}' required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label>{{ 'drivers:add:form:eps:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.insurance_number.$error.required">*</span>
							<input type="text" name="insurance_number" class="form-control" ng-model="driversadd.dataNewDriver.bond_insurance_num" placeholder='{{ "drivers:add:form:eps:text" | translate }}' required>
						</div>
						<div class="col-6">
							<label>{{ 'drivers:add:form:arl:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.insurance_company.$error.required">*</span>
							<input type="text" name="insurance_company" class="form-control" ng-model="driversadd.dataNewDriver.bond_insurance_comp" placeholder='{{ "drivers:add:form:arl:text" | translate }}' required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label>{{ 'drivers:add:form:document_type:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.type_document.$error.required">*</span>
							<select name="type_document" id="type_document" ng-model="driversadd.dataNewDriver.type_document" class="form-control input-md" required>
								<option ng-repeat="typeDocumentItem in driversadd.typeDocumentOptions" value="{{typeDocumentItem.id}}">{{typeDocumentItem.name}}</option>
							</select>
						</div>
						<div class="col-6">
							<label>{{ 'drivers:add:form:document_number:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.type_document_number.$error.required">*</span>
							<input type="text" name="type_document_number" class="form-control" ng-model="driversadd.dataNewDriver.type_document_number" placeholder='{{ "drivers:add:form:document_number:text" | translate }}' required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-6">
							<label>{{ 'drivers:add:form:license_type:text' | translate }}</label>
							<span class="help-inline" ng-show="postDriverFormName.license_number.$error.required">*</span>
							<input type="text" name="license_number" class="form-control" ng-model="driversadd.dataNewDriver.driver_license_num" placeholder='{{ "drivers:add:form:license_type:text" | translate }}' required>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-12">
							<label>{{ 'drivers:add:form:truck:text' | translate }}</label>
							<select name="truck" id="driver" ng-model="driversadd.dataNewDriver.id_truck" class="form-control input-md">
								<option value="">{{ 'drivers:add:form:truck:any' | translate }}</option>
								<option ng-repeat="option in driversadd.trucksList" value="{{option.id}}">{{option.brand}} {{option.marca}} {{option.model}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row main-botonera">
			<div class="col-12 col-sm-9">
				<button ng-disabled="driversadd.savingNewDriver" type="submit" class="btn btn-class1 bg-color-1 color-white">{{ 'loads:add:form:btn:save_post_next' | translate }}</button>
				<a ng-disabled="driversadd.savingNewDriver" ng-click="driversadd.submitReturnListFunc(postDriverFormName)" class="normal-link small-text">{{ 'loads:add:form:btn:save_return_list' | translate }}</a>
			</div>
			<div class="col-12 col-sm-3 text-right">
				<a ng-if="!driversadd.savingNewDriver" ui-sref="private.drivers" ui-sref-opts="{ reload: true }" class="normal-link small-text cancel-post-link">{{ 'loads:add:form:btn:cancel' | translate }}</a>
			</div>
		</div>
	</form>
</div>