<div id="page-section-help" class="page-section page-section-with-margin col bg-color-white">
	<div class="row justify-content-center">
		<div class="header-help-about col-8 text-center">
			<img src="assets/images/common/logo.png" border="0">
			<h5 class="right_reserved small-text">{{ "help_about:logo:foot:text" | translate }}</h5>
			<p class="small-text">{{ "help_about:logo:foot:text2" | translate }}</p>
		</div>
	</div>
	<div class="content-faq-help full-width">
		<h3 class="large-title underline-text">{{ "help_about:title:text" | translate }}</h3>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
			    <div class="card-header" role="tab" id="headingOne">
			      <h5 class="mb-0">
			        <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          {{ "help_about:title:terms:text" | translate }}
			        </div>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="card-block">
			        <div id="content-terms-conditions"></div>
			      </div>
			    </div>
			</div>

			<div class="card">
			    <div class="card-header" role="tab" id="headingTwo">
			      <h5 class="mb-0">
			        <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			          {{ "help_about:title:eula:text" | translate }}
			        </div>
			      </h5>
			    </div>

			    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="card-block">
			        <div id="content-eula"></div>
			      </div>
			    </div>
			</div>

			<div class="card">
			    <div class="card-header" role="tab" id="headingThree">
			      <h5 class="mb-0">
			        <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
			          {{ "help_about:title:privacy_policy:text" | translate }}
			        </div>
			      </h5>
			    </div>

			    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="card-block">
			        <div id="content-privacy-policy"></div>
			      </div>
			    </div>
			</div>

			<div class="card">
			    <div class="card-header" role="tab" id="headingFour">
			      <h5 class="mb-0">
			        <div data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
			          {{ "help_about:title:faqs:text" | translate }}
			        </div>
			      </h5>
			    </div>

			    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
			      <div class="card-block">
			        <div id="content-faqs"></div>
			      </div>
			    </div>
			</div>
		</div>
		<div class="content-btn-contact-us full-width text-center">
		<a href="" class="btn btn-class1 bg-color-1 color-white">{{ "help_about:contact:btn" | translate }}</a>
		</div>
	</div>
</div>